<!--<app-appareil-view></app-appareil-view>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-appareil-view></app-appareil-view>
    </div>
  </div>
</div>-->
<nav class="navbar navbar-brand">
  <div class="container-fluid">
    <div class="navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="auth">Authentification</a></li>
        <li routerLinkActive="active"><a routerLink="appareils">Appareils</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="navbar-right">
  <p>Vous êtes connecté depuis {{secondes}} secondes !</p>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <button class="btn btn-danger" (click)="ngOnDestroy()">éteindre</button>
</div>
<router-outlet></router-outlet>

